commands:
  set_eip:
    command: "IID=$(curl http://169.254.169.254/latest/meta-data/instance-id 2>/dev/null) && for EIP in `echo $MYEIPS`; do aws ec2 associate-address --allocation-id eipalloc-8945aaec --instance-id ${IID}; done"
    env:
      MYEIPS: "eipalloc-4508e320 eipalloc-8945aaec"

option_settings:
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-e4748d81
    
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-7ced110b,subnet-680add0d
    
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t1.micro
    
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: sg-45e24520

  - namespace: aws:autoscaling:asg
    option_name: MinSize
    value: 2

